/* /sites/kbtg/Pages/songkarn/kbtg-songkran-2021 */

@import url(../fonts/index.css);
body {
    --kbank-green: #01A84E;
    --kbank-gray: #757575;
    --kbtg-green: #5ECBCA;
    --kbtg-red: #EE2E22;
    --color-text: #fff;
    --color-bg: #1B1B1B;
    --color-link: #99887D;
    --color-link-hover: #fff;
    --color-gallery-number: #fff;
    --color-gallery-link: #fff;
    --color-gallery-link-bg: #EDEDED;
    --color-gallery-link-hover: #fff;
    --color-gallery-link-bg-hover: #d4b77d;
    color: #fff;
    color: var(--color-text);
    background-color: #1B1B1B;
    background-color: var(--color-bg);
    --cursor-stroke: none;
    --cursor-fill: #ffffff;
    --cursor-stroke-width: 1px;
    font-family: 'SukhumvitSet', 'Sukhumvit Set', sans-serif;
    background: linear-gradient(180deg, #264250 1%, #058aa8 10.07%, #254250 87.05%);
    margin-top: 7vw;
    margin-bottom: 17vw;
    overflow-x: hidden;
}

body::before {
    content: "";
    background: linear-gradient(180deg, #254d5e, #177b96 41.07%, #5ECBCA 76.05%);
    background: linear-gradient(180deg, #254d5e, #177b96 41.07%, var(--kbtg-green) 76.05%);
    opacity: 0.91;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 56vw;
    z-index: -3;
    clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
}

/* body::before {
    background: linear-gradient( 130deg, var(--kbtg-green) 1vw, transparent 0), linear-gradient( 230deg, var(--kbtg-green) 1vw, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 3vw 4vw;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 3vw;
} */

main {
    position: relative;
}

.header {
    position: absolute;
    top: -7vw;
    left: -1vw;
    width: 100vw;
    height: 4vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.footer {
    position: absolute;
    bottom: -17vw;
    left: -1vw;
    width: 101vw;
    height: 15vw;
    background-size: 79%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/flag-1.png);
}

.one-kbtg {
    background-image: url(../images/one-kbtg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12vw;
    height: 2vw;
}

.logo {
    background-image: url(../images/KBTG.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 2vw;
}

.splash {
    background-image: url(../images/splash.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0vw;
    right: 6vw;
    width: 54vw;
    height: 67vw;
    transform: rotate(51deg);
    z-index: -1;
}

/* .splash-2 {
    background-image: url(../images/splash-2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20vw;
    right: 5vw;
    width: 58vw;
    height: 55vw;
    z-index: -1;
} */

.popper {
    position: absolute;
    top: 0;
    right: -26vw;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.hero {
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44vw;
    height: 21vw;
    transform: rotate(-10deg);
    margin-top: -5vw;
    margin-left: 7vw;
}

.gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1vw 8vw;
}

.gallery__ceo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0 0;
    z-index: 3;
}

.gallery__item {
    margin: 0 3vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 18vw;
    height: 18vw;
    flex-shrink: 0;
    flex-grow: 0;
    will-change: transform;
}

.gallery__item+.gallery__item {
    margin-left: 1vw;
}

/* .gallery__item.ceo {
    width: 25vw;
    height: 25vw;
    margin: 0 1vw;
} */

.gallery__item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    -webkit-transition-property: all;
    -webkit-transition-duration: 300ms;
    -webkit-transition-timing-function: ease-out;
    box-shadow: 2px 2px 14px 0px #224a59;
    will-change: border-radius, bottom;
    touch-action: none;
    -ms-touch-action: none;
    z-index: 1;
}

.gallery__item-img::before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}

.gallery__item-img::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}

.gallery__item-img::before, .gallery__item-img::after {
    background-color: white;
}

.gallery__item-imginner {
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 100%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    cursor: url(../images/bowl.cur) 15 54, auto;
    cursor: url(../images/bowl.png) 15 54, auto;
    z-index: 0;
}

.gallery__item-imginner.avatar__ceo-1 {
    background-image: url(../images/ple.jpg);
}

.gallery__item-imginner.avatar__ceo-2 {
    background-image: url(../images/krating.jpg);
}

.gallery__item-imginner.avatar__ceo-3 {
    background-image: url(../images/pairash.jpg);
}

.gallery__item-imginner.avatar__sen-1 {
    background-image: url(../images/nipat.JPG);
}

.gallery__item-imginner.avatar__sen-2 {
    background-image: url(../images/chatri.JPG);
}

.gallery__item-imginner.avatar__sen-3 {
    background-image: url(../images/nongrak.JPG);
}

.gallery__item-imginner.avatar__sen-4 {
    background-image: url(../images/suchat.JPG);
}

.gallery__item-imginner.avatar__sen-5 {
    background-image: url(../images/viroj.JPG);
}

.gallery__item-imginner.avatar__sen-6 {
    background-image: url(../images/veerasak.JPG);
}

.gallery__item-imginner.avatar__sen-7 {
    background-image: url(../images/thanaruek.JPG);
}

.gallery__item-imginner.avatar__sen-8 {
    background-image: url(../images/anek.JPG);
}

.gallery__item-imginner.avatar__sen-9 {
    background-image: url(../images/peerapong.JPG);
}

.gallery__item-imginner>.greeting {
    position: absolute;
    bottom: -24vw;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    color: #1B1B1B;
    color: var(--color-bg);
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.gallery__item-imginner>.greeting.splasher {
    background-image: url(../images/splash-2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.gallery__item-imginner>.greeting>.greeting-text {
    padding: 1vw 1.5vw;
    font-size: 1.1vw;
    /* letter-spacing: 1px; */
    /* text-align: justify; */
    color: #fff;
    color: var(--color-text);
    width: calc(100% - 3vw);
}

.gallery__item-imginner .frost {
    position: absolute;
    width: calc(100% + 4em);
    height: calc(100% + 4em);
    top: -2em;
    left: -2em;
    background: inherit;
    will-change: filter, background-color;
}

.ceo .gallery__item-img:hover, .gallery__item-img:hover::before, .gallery__item-img:hover::after {
    border-radius: 3vw;
}

.gallery__item-img:hover .greeting {
    bottom: 0;
}

.ceo .greeting {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 0;
    box-sizing: border-box;
}

.gallery__item-img:hover .frost {
    filter: blur(1em) brightness(0.6);
    background-color: black;
}

.gallery__item-caption {
    position: absolute;
    bottom: -6vw;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.gallery__item-number {
    grid-area: gallery-number;
    font-size: 6rem;
    font-size: clamp(2.5rem, 9vw, 6.5rem);
    justify-self: end;
    padding-right: 2rem;
    color: #fff;
    color: var(--color-gallery-number);
}

.gallery__item-title {
    grid-area: gallery-title;
    margin: 0;
    font-size: 4rem;
    font-size: clamp(2rem, 5vw, 4rem);
    color: #5ECBCA;
    color: var(--kbtg-green);
}

.gallery__item-number, .gallery__item-title, .gallery__text {
    font-weight: 800;
    align-self: center;
}

.gallery__item-link {
    font-size: 1.2rem;
    background: #EDEDED;
    background: var(--color-gallery-link-bg);
    color: #fff;
    color: var(--color-gallery-link);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: -1;
    will-change: background;
}

.gallery__item-link:focus, .gallery__item-link:hover {
    background: #d4b77d;
    background: var(--color-gallery-link-bg-hover);
    color: #fff;
    color: var(--color-gallery-link-hover);
    text-decoration: none;
}

.gallery__text {
    font-size: 7vw;
    line-height: 0.8;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    color: #5ECBCA;
    color: var(--kbtg-green);
}

.gallery__text-inner {
    display: block;
    font-size: 8vw;
}

.gallery__item-quote {
    position: absolute;
    top: 14vw;
    left: -3vw;
    background-image: url(../images/quote.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6vw;
    height: 6vw;
    opacity: 1;
    z-index: -1;
}

.quote__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 45vw;
}

.quote__item+.quote__item {
    margin-left: 3vw;
}

.quote__item {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 1vw 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.quote__item-text {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.1vw;
    text-align: justify;
    margin: 1vw 0 0 0;
    word-spacing: -.4em;
    letter-spacing: .5px;
}

.quote__item-text>span {
    word-spacing: 0;
    margin: 0 .1em;
}

.quote__item-text-name {
    position: relative;
    color: #5ECBCA;
    color: var(--kbtg-green);
    font-size: 1.6vw;
    word-spacing: 0;
    letter-spacing: 0;
}

.quote__item-text-name::before {
    content: "";
    position: absolute;
    top: 1vw;
    right: -1vw;
    width: 4vw;
    height: .2vw;
    background-color: white;
}

.quote__item-text-name::after {
    content: "";
    position: absolute;
    top: 1vw;
    right: -1vw;
    width: .2vw;
    height: 5vw;
    background-color: white;
}

.circle {
    position: fixed;
    top: -22vw;
    right: -17vw;
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
    border: 4vw solid #757575;
    border: 4vw solid var(--kbank-gray);
    z-index: -1;
}

.vert-bar {
    width: .5vw;
    min-width: .4rem;
    height: 6.2vw;
    background-color: white;
    margin: 0vw 1vw 0vw 1vw;
}

.quote__item-w-bar {
    font-size: 2.2vw;
    position: relative;
    padding-left: 1.8vw;
    line-height: 1.8;
}

.quote__item-w-bar::before {
    content: "";
    height: 3vw;
    width: 1vw;
    background-color: #5ECBCA;
    background-color: var(--kbtg-green);
    position: absolute;
    top: .3vw;
    left: 0;
}

.greeting-button {
    padding: 0.3vw 1vw;
    background-color: #5ECBCA;
    background-color: var(--kbtg-green);
    border-radius: 2em;
    font-size: 1.2vw;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
    color: var(--color-text);
    cursor: url(../images/bowl.png) 15 54, auto;
}

.splasher .greeting-button {
    margin-bottom: -10vw;
}

.flags {
    width: 101vw;
    height: 15vw;
    margin: 5vw -8.5vw -3vw;
    background-size: 79%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/flag-1.png);
}

.gun {
    position: absolute;
    width: 15vw;
    height: 15vw;
    margin-top: -15vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gun.left {
    background-image: url(../images/bowl-1.PNG);
    left: -4vw;
    width: 21vw;
    height: 21vw;
    margin-top: -16vw;
}

.gun.right {
    right: -7vw;
    width: 20vw;
    background-image: url(../images/bowl-2.png);
}

.ceo-name {
    position: absolute;
    bottom: -4vw;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.6vw;
    filter: drop-shadow(2px 4px 6px #224a59);
    text-shadow: 1px 2px 12px #000000, 4px 3px 15px #1d586b;
}

.ceo-name.ple::after, .ceo-name.krating::after {
    position: absolute;
    top: 2.5vw;
    left: 0;
    right: 0;
    font-size: 1.2vw;
    display: block;
}

.ceo-name.ple::after {
    content: "พี่เปิ้ล";
}

.ceo-name.krating::after {
    content: "พี่กระทิง";
}

.caption {
    font-size: 1.2vw;
    text-align: center;
    /* text-shadow: 1px 2px 12px #000000, 4px 3px 15px #1d586b; */
    position: absolute;
    top: 1vw;
    left: 0;
    right: 0;
    width: 100vw;
}

.flower {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image: url(../images/flower.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: drop-shadow(2px 4px 6px #224a59); */
    z-index: 0;
}

.mali {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image: url(../images/mali.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: drop-shadow(2px 4px 6px #224a59); */
    z-index: 0;
}

.flower:nth-of-type(1) {
    top: 14vw;
    left: 4vw;
}

.flower:nth-of-type(2) {
    top: 26vw;
    left: 12vw;
    width: 3vw;
    height: 3vw;
}

.flower:nth-of-type(3) {
    top: 33vw;
    left: 35vw;
    width: 3vw;
    height: 3vw;
}

.flower:nth-of-type(4) {
    top: 13vw;
    left: 38vw;
    display: none;
}

.flower:nth-of-type(5) {
    top: 12vw;
    left: 61vw;
    width: 3vw;
    height: 3vw;
    display: none;
}

.flower:nth-of-type(6) {
    top: 6vw;
    left: 80vw;
}

.flower:nth-of-type(7) {
    top: 26vw;
    left: 83vw;
    display: none;
}

.flower:nth-of-type(8) {
    top: 29vw;
    left: 61vw;
    display: none;
}

.flower:nth-of-type(9) {
    top: -2vw;
    left: 85vw;
    width: 3vw;
    height: 3vw;
}

.flower:nth-of-type(10) {
    top: 11vw;
    left: 92vw;
    width: 3vw;
    height: 3vw;
}

.mali:nth-of-type(11) {
    top: 11vw;
    left: 7vw;
    transform: rotate(320deg);
}

.mali:nth-of-type(12) {
    top: 30vw;
    left: 15vw;
    transform: rotate(45deg);
}

.mali:nth-of-type(13) {
    top: 16vw;
    left: 59vw;
    transform: rotate(-45deg);
}

.mali:nth-of-type(14) {
    top: 32vw;
    left: 40vw;
}

@media (max-width: 768px) {
    .quote__items {
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .quote__item-text {
        font-size: 2.8vw;
    }
    .quote__item-text-name {
        font-size: 3.4vw;
    }
    .quote__item+.quote__item {
        margin-left: 0;
    }
    .ceo-name {
        font-size: 2vw;
        bottom: -6vw;
    }
    .ceo-name.ple::after, .ceo-name.krating::after {
        font-size: 1.8vw;
    }
    .caption {
        font-size: 1.8vw;
    }
    .gun {
        display: none;
    }
    .quote__item-text-name::before {
        height: .6vw;
        width: 8vw;
        right: -2vw;
    }
    .quote__item-text-name::after {
        width: .6vw;
        height: 8vw;
        right: -2vw
    }
    .gallery__item {
        width: 22vw;
        height: 22vw;
    }
    .gallery__item-quote {
        top: 17vw;
        width: 7vw;
        height: 7vw;
    }
    .gallery__item-imginner>.greeting>.greeting-text {
        font-size: 1.4vw;
    }
}