@import url(../fonts/index.css);
body {
    --kbank-green: #01A84E;
    --kbank-gray: #757575;
    --kbtg-green: #5ECBCA;
    --kbtg-red: #EE2E22;
    --color-text: #fff;
    --color-bg: #1B1B1B;
    --color-link: #99887D;
    --color-link-hover: #fff;
    --color-gallery-number: #ffffff;
    --color-gallery-link: #fff;
    --color-gallery-link-bg: #EDEDED;
    --color-gallery-link-hover: #fff;
    --color-gallery-link-bg-hover: #d4b77d;
    color: var(--color-text);
    background-color: var(--color-bg);
    --cursor-stroke: none;
    --cursor-fill: #ffffff;
    --cursor-stroke-width: 1px;
    font-family: 'SukhumvitSet', 'Sukhumvit Set', sans-serif;
    background: linear-gradient(180deg, #264250 1%, #058aa8 10.07%, #254250 87.05%);
    margin-top: 7vw;
    margin-bottom: 17vw;
}

body::before {
    content: "";
    background: linear-gradient(180deg, #254d5e, #177b96 41.07%, var(--kbtg-green) 76.05%);
    opacity: 0.91;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 53vw;
    z-index: -3;
    clip-path: polygon(100% 0, 0 0, 0 77.5%, 1% 77.4%, 2% 77.1%, 3% 76.6%, 4% 75.9%, 5% 75.05%, 6% 74.05%, 7% 72.95%, 8% 71.75%, 9% 70.55%, 10% 69.3%, 11% 68.05%, 12% 66.9%, 13% 65.8%, 14% 64.8%, 15% 64%, 16% 63.35%, 17% 62.85%, 18% 62.6%, 19% 62.5%, 20% 62.65%, 21% 63%, 22% 63.5%, 23% 64.2%, 24% 65.1%, 25% 66.1%, 26% 67.2%, 27% 68.4%, 28% 69.65%, 29% 70.9%, 30% 72.15%, 31% 73.3%, 32% 74.35%, 33% 75.3%, 34% 76.1%, 35% 76.75%, 36% 77.2%, 37% 77.45%, 38% 77.5%, 39% 77.3%, 40% 76.95%, 41% 76.4%, 42% 75.65%, 43% 74.75%, 44% 73.75%, 45% 72.6%, 46% 71.4%, 47% 70.15%, 48% 68.9%, 49% 67.7%, 50% 66.55%, 51% 65.5%, 52% 64.55%, 53% 63.75%, 54% 63.15%, 55% 62.75%, 56% 62.55%, 57% 62.5%, 58% 62.7%, 59% 63.1%, 60% 63.7%, 61% 64.45%, 62% 65.4%, 63% 66.45%, 64% 67.6%, 65% 68.8%, 66% 70.05%, 67% 71.3%, 68% 72.5%, 69% 73.6%, 70% 74.65%, 71% 75.55%, 72% 76.35%, 73% 76.9%, 74% 77.3%, 75% 77.5%, 76% 77.45%, 77% 77.25%, 78% 76.8%, 79% 76.2%, 80% 75.4%, 81% 74.45%, 82% 73.4%, 83% 72.25%, 84% 71.05%, 85% 69.8%, 86% 68.55%, 87% 67.35%, 88% 66.2%, 89% 65.2%, 90% 64.3%, 91% 63.55%, 92% 63%, 93% 62.65%, 94% 62.5%, 95% 62.55%, 96% 62.8%, 97% 63.3%, 98% 63.9%, 99% 64.75%, 100% 65.7%);
}

/* body::before {
    background: linear-gradient( 130deg, var(--kbtg-green) 1vw, transparent 0), linear-gradient( 230deg, var(--kbtg-green) 1vw, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 3vw 4vw;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 3vw;
} */

main {
    position: relative;
}

.header {
    position: absolute;
    top: -7vw;
    left: -1vw;
    width: 100vw;
    height: 4vw;
    /* background-color: #264252; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.footer {
    position: absolute;
    bottom: -17vw;
    left: -1vw;
    content: "";
    width: 101vw;
    height: 13vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/flag-1.png);
}

.one-kbtg {
    background-image: url(../images/one-kbtg.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12vw;
    height: 2vw;
}

.logo {
    background-image: url(../images/KBTG.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 10vw;
    height: 2vw;
}

.splash {
    background-image: url(../images/splash.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -3vw;
    right: 6vw;
    width: 54vw;
    height: 67vw;
    transform: rotate(51deg);
    z-index: -1;
}

/* .splash-2 {
    background-image: url(../images/splash-2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 20vw;
    right: 5vw;
    width: 58vw;
    height: 55vw;
    z-index: -1;
} */

.popper {
    position: absolute;
    top: 0;
    right: -26vw;
    width: 100vw;
    height: 100vh;
    z-index: -3;
}

.hero {
    background-image: url(../images/hero.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 44vw;
    height: 21vw;
    transform: rotate(-10deg);
    margin-top: -8vw;
    margin-left: 9vw;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin: 1vw 8vw;
}

.gallery__ceo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw 0 0;
    z-index: 3;
}

.gallery__item {
    margin: 0 3vw;
    display: flex;
    position: relative;
    width: 18vw;
    height: 18vw;
    will-change: transform;
}

.gallery__item+.gallery__item {
    margin-left: 1vw;
}

/* .gallery__item.ceo {
    width: 25vw;
    height: 25vw;
    margin: 0 1vw;
} */

.gallery__item-img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
    box-shadow: 2px 2px 14px 0px #224a59;
    will-change: transform;
}

.gallery__item-img::before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}

.gallery__item-img::after {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: #fff;
    z-index: -1;
}

.gallery__item-img::before, .gallery__item-img::after {
    /* background: linear-gradient(235deg, var(--kbtg-green), var(--color-bg), var(--kbank-gray)); */
    background-color: white;
}

.gallery__item-imginner {
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 106%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    cursor: url(../images/bowl.png) 15 54, auto;
    will-change: transform;
}

.gallery__item-imginner.avatar__ceo-1 {
    background-image: url(../images/ple.jpg);
}

.gallery__item-imginner.avatar__ceo-2 {
    background-image: url(../images/krating.jpg);
}

.gallery__item-imginner.avatar__ceo-3 {
    background-image: url(../images/pairash.jpg);
}

.gallery__item-imginner.avatar__sen-1 {
    background-image: url(../images/nipat.JPG);
}

.gallery__item-imginner.avatar__sen-2 {
    background-image: url(../images/chatri.JPG);
}

.gallery__item-imginner.avatar__sen-3 {
    background-image: url(../images/nongrak.JPG);
    background-size: cover;
}

.gallery__item-imginner.avatar__sen-4 {
    background-image: url(../images/suchat.JPG);
    background-size: cover;
}

.gallery__item-imginner.avatar__sen-5 {
    background-image: url(../images/viroj.JPG);
}

.gallery__item-imginner.avatar__sen-6 {
    background-image: url(../images/veerasak.JPG);
}

.gallery__item-imginner.avatar__sen-7 {
    background-image: url(../images/thanaruek.JPG);
}

.gallery__item-imginner.avatar__sen-8 {
    background-image: url(../images/anek.JPG);
    background-size: 155%;
}

.gallery__item-imginner.avatar__sen-9 {
    background-image: url(../images/peerapong.JPG);
}

.gallery__item-imginner>.greeting {
    position: absolute;
    bottom: -24vw;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    color: var(--color-bg);
    transition-property: all;
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.gallery__item-imginner>.greeting>.greeting-text {
    padding: 1vw 1.5vw;
    font-size: 1vw;
    letter-spacing: 1px;
    /* text-align: justify; */
    color: var(--color-text);
}

.gallery__item-imginner .frost {
    position: absolute;
    width: calc(100% + 4em);
    height: calc(100% + 4em);
    top: -2em;
    left: -2em;
    background: inherit;
}

.gallery__item-img:hover, .gallery__item-img:hover::before, .gallery__item-img:hover::after {
    border-radius: 3em;
}

.quote__items .gallery__item-img:hover, .gallery__item-img:hover::before, .gallery__item-img:hover::after {
    border-radius: 42%;
}

.gallery__item-img:hover .greeting {
    bottom: 0;
    /* transition-delay: 200ms; */
}

.gallery__item-img:hover .frost {
    filter: blur(1em) brightness(0.6);
    background-color: black;
}

.gallery__item-caption {
    position: absolute;
    bottom: -6vw;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.gallery__item-number {
    grid-area: gallery-number;
    font-size: 6rem;
    font-size: clamp(2.5rem, 9vw, 6.5rem);
    justify-self: end;
    padding-right: 2rem;
    color: var(--color-gallery-number);
}

.gallery__item-title {
    grid-area: gallery-title;
    margin: 0;
    font-size: 4rem;
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--kbtg-green);
}

.gallery__item-number, .gallery__item-title, .gallery__text {
    font-weight: 800;
    align-self: center;
}

.gallery__item-link {
    font-size: 1.2rem;
    background: var(--color-gallery-link-bg);
    color: var(--color-gallery-link);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: -1;
}

.gallery__item-link:focus, .gallery__item-link:hover {
    background: var(--color-gallery-link-bg-hover);
    color: var(--color-gallery-link-hover);
    text-decoration: none;
}

.gallery__text {
    font-size: 7vw;
    line-height: 0.8;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--kbtg-green);
}

.gallery__text-inner {
    display: block;
    font-size: 8vw;
}

.gallery__item-quote {
    position: absolute;
    top: 14vw;
    left: -4vw;
    background-image: url(../images/quote.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 6vw;
    height: 6vw;
    opacity: .4;
    z-index: -1;
}

.quote__items {
    display: flex;
}

.quote__item+.quote__item {
    margin-left: 3vw;
}

.quote__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1vw 0;
}

.quote__item-text {
    flex: 1;
    font-size: 1.2vw;
    text-align: justify;
    margin: 1vw 0 0 1vw;
}

.quote__item-text-name {
    color: var(--kbtg-green);
    font-size: 1.6vw;
}

.circle {
    position: fixed;
    top: -22vw;
    right: -17vw;
    width: 38vw;
    height: 38vw;
    border-radius: 50%;
    border: 4vw solid var(--kbank-gray);
    z-index: -1;
}

.vert-bar {
    width: .5vw;
    min-width: .4rem;
    height: 6.2vw;
    background-color: white;
    margin: 0vw 1vw 0vw 1vw;
}

.quote__item-w-bar {
    font-size: 2.2vw;
    position: relative;
    padding-left: 1.8vw;
    line-height: 1.8;
}

.quote__item-w-bar::before {
    content: "";
    height: 3vw;
    width: 1vw;
    background-color: var(--kbtg-green);
    position: absolute;
    top: .3vw;
    left: 0;
}

.greeting-button {
    padding: 0.3vw 1vw;
    background-color: var(--kbtg-green);
    border-radius: 2em;
    font-size: 1.2vw;
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--color-text);
    cursor: url(../images/bowl.png) 15 54, auto;
}

.greeting-button:hover {
    background-color: var(--color-link);
    color: var(--color-text);
}

.flags {
    content: "";
    width: 101vw;
    height: 13vw;
    margin: 0vw -9vw 0vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/flag-1.png);
}

.gun {
    position: absolute;
    width: 15vw;
    height: 15vw;
    margin-top: -15vw;
    background-image: url(../images/gun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gun.left {
    transform: scaleX(-1);
}

.gun.right {
    right: 0;
}

.flower {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image: url(../images/flower.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: drop-shadow(2px 4px 6px #224a59); */
    z-index: 0;
}

.mali {
    position: absolute;
    width: 5vw;
    height: 5vw;
    background-image: url(../images/mali.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* filter: drop-shadow(2px 4px 6px #224a59); */
    z-index: 0;
}

.flower:nth-of-type(1) {
    top: 14vw;
    left: 4vw;
}

.flower:nth-of-type(2) {
    top: 26vw;
    left: 12vw;
    width: 3vw;
    height: 3vw;
}

.flower:nth-of-type(3) {
    top: 33vw;
    left: 35vw;
    width: 3vw;
    height: 3vw;
}

.flower:nth-of-type(4) {
    top: 13vw;
    left: 38vw;
    display: none;
}

.flower:nth-of-type(5) {
    top: 12vw;
    left: 61vw;
    width: 3vw;
    height: 3vw;
    display: none;
}

.flower:nth-of-type(6) {
    top: 6vw;
    left: 80vw;
}

.flower:nth-of-type(7) {
    top: 26vw;
    left: 83vw;
    display: none;
}

.flower:nth-of-type(8) {
    top: 31vw;
    left: 62vw;
}

.flower:nth-of-type(9) {
    top: -2vw;
    left: 85vw;
    width: 3vw;
    height: 3vw;
}

.flower:nth-of-type(10) {
    top: 11vw;
    left: 92vw;
    width: 3vw;
    height: 3vw;
}

.mali:nth-of-type(11) {
    top: 11vw;
    left: 7vw;
}

.mali:nth-of-type(12) {
    top: 30vw;
    left: 15vw;
    transform: rotate(45deg);
}

.mali:nth-of-type(13) {
    top: 16vw;
    left: 59vw;
    transform: rotate(-45deg);
}

.mali:nth-of-type(14) {
    top: 33vw;
    left: 42vw;
}

.particle {
    width: 1vw;
    height: .4vw;
    position: absolute;
    top: 20vw;
    left: 50vw;
    transform: translate(-50%, -50%);
    pointer-events: none;
    offset-distance: 130%;
    transition: offset-distance 0.6s cubic-bezier(0, 0.7, 0.3, 1);
    z-index: -1;
}

:checked~.particle {
    offset-distance: 100%;
}

.particle:nth-of-type(0) {
    offset-path: path("M 0, 0 q 262, -175, 296, 19 ");
    background: #b77812;
}

.particle:nth-of-type(1) {
    offset-path: path("M 0, 0 q -280, -113, -329, 267 ");
    background: #c69d20;
}

.particle:nth-of-type(2) {
    offset-path: path("M 0, 0 q 110, -235, -289, 242 ");
    background: #411c92;
}

.particle:nth-of-type(3) {
    offset-path: path("M 0, 0 q 150, -260, -223, 270 ");
    background: #35cc8d;
}

.particle:nth-of-type(4) {
    offset-path: path("M 0, 0 q -176, 171, 243, 306 ");
    background: #7c825a;
}

.particle:nth-of-type(5) {
    offset-path: path("M 0, 0 q -532, 651, -639, 718 ");
    background: #525fce;
}

.particle:nth-of-type(6) {
    offset-path: path("M 0, 0 q -227, 182, -112, 210 ");
    background: #60d504;
}

.particle:nth-of-type(7) {
    offset-path: path("M 0, 0 q -212, -63, 47, 49 ");
    background: #605229;
}

.particle:nth-of-type(8) {
    offset-path: path("M 0, 0 q 100, 76, -12, -14 ");
    background: #be4c06;
}

.particle:nth-of-type(9) {
    offset-path: path("M 0, 0 q -243, 67, 66, 20 ");
    background: #733fd8;
}

.particle:nth-of-type(10) {
    offset-path: path("M 0, 0 q -35, 210, 74, -113 ");
    background: #a84a3b;
}

.particle:nth-of-type(11) {
    offset-path: path("M 0, 0 q -91, -204, 74, 43 ");
    background: #96c223;
}

.particle:nth-of-type(12) {
    offset-path: path("M 0, 0 q -121, 236, 194, -221 ");
    background: #9e528d;
}

.particle:nth-of-type(13) {
    offset-path: path("M 0, 0 q 24, 107, -168, -105 ");
    background: #ed1358;
}

.particle:nth-of-type(14) {
    offset-path: path("M 0, 0 q 214, -154, -24, -156 ");
    background: #b2c015;
}

.particle:nth-of-type(15) {
    offset-path: path("M 0, 0 q -106, 48, 117, -141 ");
    background: #d0b506;
}

.particle:nth-of-type(16) {
    offset-path: path("M 0, 0 q -130, 122, 217, -130 ");
    background: #04175b;
}

.particle:nth-of-type(17) {
    offset-path: path("M 0, 0 q -46, -156, 148, -219 ");
    background: #5fd31e;
}

.particle:nth-of-type(18) {
    offset-path: path("M 0, 0 q 43, -246, -248, 8 ");
    background: #6f6e80;
}

.particle:nth-of-type(19) {
    offset-path: path("M 0, 0 q 221, -249, 36, 217 ");
    background: #d75a0f;
}

.particle:nth-of-type(20) {
    offset-path: path("M 0, 0 q 139, 113, 74, -146 ");
    background: #f21081;
}

.particle:nth-of-type(21) {
    offset-path: path("M 0, 0 q -50, -89, -131, 149 ");
    background: #afac27;
}

.particle:nth-of-type(22) {
    offset-path: path("M 0, 0 q -181, 200, -93, 93 ");
    background: #1c6d9b;
}

.particle:nth-of-type(23) {
    offset-path: path("M 0, 0 q -146, -150, 153, -217 ");
    background: #0f32d1;
}

.particle:nth-of-type(24) {
    offset-path: path("M 0, 0 q -54, 167, 205, 203 ");
    background: #c9be01;
}

.particle:nth-of-type(25) {
    offset-path: path("M 0, 0 q -96, 144, -43, -130 ");
    background: #31bf0e;
}

.particle:nth-of-type(26) {
    offset-path: path("M 0, 0 q 28, -216, 198, 59 ");
    background: #fd1a4f;
}

.particle:nth-of-type(27) {
    offset-path: path("M 0, 0 q 135, 126, -140, -212 ");
    background: #85ab30;
}

.particle:nth-of-type(28) {
    offset-path: path("M 0, 0 q -215, -114, 118, -203 ");
    background: #f72a59;
}

.particle:nth-of-type(29) {
    offset-path: path("M 0, 0 q -140, -216, -188, 33 ");
    background: #4a0a33;
}

.particle:nth-of-type(30) {
    offset-path: path("M 0, 0 q -28, 99, -233, -238 ");
    background: #6a400e;
}

.particle:nth-of-type(31) {
    offset-path: path("M 0, 0 q 239, 245, 168, 124 ");
    background: #afc815;
}

.particle:nth-of-type(32) {
    offset-path: path("M 0, 0 q 168, -16, -229, -214 ");
    background: #63bf05;
}

.particle:nth-of-type(33) {
    offset-path: path("M 0, 0 q 137, 150, 26, -57 ");
    background: #ae2a69;
}

.particle:nth-of-type(34) {
    offset-path: path("M 0, 0 q 226, 198, 71, 113 ");
    background: #4b51be;
}

.particle:nth-of-type(35) {
    offset-path: path("M 0, 0 q -47, 17, -38, -17 ");
    background: #9f941b;
}

.particle:nth-of-type(36) {
    offset-path: path("M 0, 0 q -248, 5, 15, -69 ");
    background: #d0670d;
}

.particle:nth-of-type(37) {
    offset-path: path("M 0, 0 q 206, 55, 31, -202 ");
    background: #4a847c;
}

.particle:nth-of-type(38) {
    offset-path: path("M 0, 0 q -50, 190, 201, 1 ");
    background: #1861a9;
}

.particle:nth-of-type(39) {
    offset-path: path("M 0, 0 q -208, 196, 114, 37 ");
    background: #384b69;
}

.particle:nth-of-type(40) {
    offset-path: path("M 0, 0 q -56, -25, 25, 167 ");
    background: #9bda0b;
}

.particle:nth-of-type(41) {
    offset-path: path("M 0, 0 q -167, -84, 201, 249 ");
    background: #be8d24;
}

.particle:nth-of-type(42) {
    offset-path: path("M 0, 0 q 49, -104, 236, -214 ");
    background: #c03885;
}

.particle:nth-of-type(43) {
    offset-path: path("M 0, 0 q -126, 104, 228, 165 ");
    background: #199d92;
}

.particle:nth-of-type(44) {
    offset-path: path("M 0, 0 q -50, -64, -157, 221 ");
    background: #8b176d;
}

.particle:nth-of-type(45) {
    offset-path: path("M 0, 0 q 13, 171, 235, 42 ");
    background: #a0843e;
}

.particle:nth-of-type(46) {
    offset-path: path("M 0, 0 q -30, 205, 86, -43 ");
    background: #5328d9;
}

.particle:nth-of-type(47) {
    offset-path: path("M 0, 0 q -197, -57, -79, 141 ");
    background: #f14937;
}

.particle:nth-of-type(48) {
    offset-path: path("M 0, 0 q -197, -188, 10, -79 ");
    background: #9b1d55;
}

.particle:nth-of-type(49) {
    offset-path: path("M 0, 0 q -86, -99, 224, -224 ");
    background: #07a276;
}

.particle:nth-of-type(50) {
    offset-path: path("M 0, 0 q -85, -141, -22, -215 ");
    background: #bd8a04;
}