@font-face {
    font-family: 'SukhumvitSet';
    /* IE9 Compat Modes */
    src: url(../fonts/SukhumvitSet-Text.eot);
    src: url(../fonts/SukhumvitSet-Text.eot?#iefix) format('embedded-opentype'), url(../fonts/SukhumvitSet-Text.ttf) format('truetype');
}