@font-face {
    font-family: 'SukhumvitSet';
    /* IE9 Compat Modes */
    src: url(/sites/kbtg/Pages/songkarn/kbtg-songkran-2021/fonts/SukhumvitSet-Text.eot);
    src: url(/sites/kbtg/Pages/songkarn/kbtg-songkran-2021/fonts/SukhumvitSet-Text.eot?#iefix) format('embedded-opentype'), url(/sites/kbtg/Pages/songkarn/kbtg-songkran-2021/fonts/SukhumvitSet-Text.ttf) format('truetype');
}